Source: system
Maintainer: Menucha Team <info@menucha.de>
Build-Depends: debhelper, golang:native, git, crossbuild-essential-armhf:all, libc6, libsystemd-dev

Package: system
Architecture: any
Depends: ${shlibs:Depends}
Description: System web service
