Source: systemd-service
Maintainer: peraMIC <opensource@peraMIC.io>
Build-Depends: debhelper, golang:native, git, crossbuild-essential-armhf:all, libc6, libsystemd-dev

Package: systemd-service
Architecture: any
Depends: ${shlibs:Depends}, swagger-ui
Description: Systemd service