#!/usr/bin/make -f
 
%:
	dh $@

override_dh_install:
	CC=$(PREFIX)gcc LD=$(PREFIX)ld GOOS=linux GOARCH=$(GOARCH) GOARM=$(GOARM) CGO_ENABLED=1 go build -o target/system -ldflags="-extld=$(PREFIX)gcc"
	dh_install
